* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul, li {
  color: black;
  list-style-type: none;
}

:root {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

img {
  width: 250px;
  height: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
}

header {
  background-color: #9ecefb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9ecefb;
  margin: 0 auto;
  padding: 20px 0;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.header-left i, .header-left p {
  font-size: 4rem;
  color: white;
}
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.header-right li {
  font-size: 1.5rem;
  color: white;
}
.header-right .cta {
  background-color: #52a5fb;
  padding: 10px 20px;
  border-radius: 25px;
}
.header-right .cta:last-child {
  background-color: white;
  color: #52a5fb;
}

.first-section {
  background-color: #9ecefb;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 200px;
}
.hero img {
  flex-basis: 50%;
  padding: 2px;
}

.services {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.services p {
  font-size: 1.5rem;
  color: #52a5fb;
}

.services-title {
  line-height: 60px;
}
.services-title h1 {
  font-size: 5rem;
  color: white;
}
.services-title h1:last-child {
  color: #52a5fb;
}

.get-started {
  background-color: #52a5fb;
  padding: 10px 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  width: fit-content;
}
.get-started p, .get-started i {
  color: white;
}

.contact {
  z-index: 1000;
  position: relative;
  max-width: 1000px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  box-shadow: 1px 1px 20px 20px rgba(55, 153, 218, 0.24);
  top: -150px;
}

.couriers, .businesses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  flex-direction: column;
  row-gap: 30px;
  padding: 100px 50px;
}
.couriers h2, .businesses h2 {
  font-size: 3.5rem;
  color: #125086;
}
.couriers p, .businesses p {
  width: 250px;
  font-size: 1.5rem;
  text-align: center;
  color: #b3a6af;
}
.couriers a, .businesses a {
  background-color: #52a5fb;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #125086;
  width: fit-content;
  color: white;
}

.businesses {
  border-left: 1px solid #b3a6af;
}
.businesses a {
  background-color: #12a3eb;
}

.second-section {
  background-color: white;
}

.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.delivery .delivery-text {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 30px;
}
.delivery .delivery-text h2 {
  color: #125086;
  font-size: 5rem;
  font-weight: bold;
  width: 450px;
}
.delivery .delivery-text p {
  color: #b3a6af;
  font-size: 1.5rem;
  text-align: left;
  width: 450px;
}
.delivery .delivery-text p span {
  color: grey;
}
.delivery img {
  flex-basis: 50%;
}

/*# sourceMappingURL=style.css.map */
