// Reset CSS
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

ul, li{
    color: black;
    list-style-type: none;
}
// End Reset CSS

// Root font
:root{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
// End Root font


// Couleurs
$primary-color: rgb(158,206,251);
$secondary-color: rgb(82,165,251);
// End Couleurs

// Mixins
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btnCta{
    background-color: $secondary-color;
    padding: 10px 20px;
    border-radius: 25px;
}
// End Mixins

// Style Général
img{
    width: 250px;
    height: 100%;
}

.container{
    max-width: 1400px;
    width: 100%;
}

header{
    background-color: $primary-color;
}
// End Style Général


// Header
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    margin: 0 auto;
    padding: 20px 0
}

.header-left{
    @include flexCenter;
    column-gap: 20px;

    i{
        font-size: 4rem;
        color: white;
    }

    p{
        @extend i;
    }
}

.header-right{
    @include flexCenter;
    column-gap: 20px;

    li{
        font-size: 1.5rem;
        color: white;
    }

    .cta{
        @include btnCta;

        &:last-child{
            background-color: white;
            color: $secondary-color;
        }
    }
}
// End Header

// Hero
.first-section{
    background-color: $primary-color
}
.hero{
    @include flexCenter;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 200px;

    img{
        flex-basis: 50%;
        padding: 2px;
    }
}

.services{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    p{
        font-size: 1.5rem;
        color: $secondary-color;
    }
}

.services-title{
    line-height: 60px;

    h1{
        font-size: 5rem;
        color: white;

        &:last-child{
            color: $secondary-color;
        }
    }
}

.get-started{
    @include btnCta;
    @include flexCenter;
    column-gap: 15px;
    width: fit-content;

    p, i{
        color: white;
    }
}
// End Hero

// Contact
.contact{
    z-index: 1000;
    position: relative;
    max-width: 1000px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    box-shadow: 1px 1px 20px 20px rgba(55, 153, 218, 0.24);
    top: -150px
}

.couriers{
    @include flexCenter;
    flex-basis: 50%;
    flex-direction: column;
    row-gap: 30px;
    padding: 100px 50px;

    h2{
        font-size: 3.5rem;
        color: rgb(0,36,156);
    }

    p{
        width: 250px;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(179,166,175);
    }

    a{
        @include btnCta;
        background-color: rgb(0,36,156);
        width: fit-content;
        color: white;
    }
}

.businesses{
    @extend .couriers;
    border-left: 1px solid rgb(179,166,175);

    a{
        background-color: rgb(18,163,235);
    }
}
// End Contact

// Second section
.second-section{
    background-color: white;
}

.delivery{
    @include flexCenter;
    width: 100%;
    margin: 0 auto;

    .delivery-text{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 30px;

        h2{
            color: rgb(0,36,156);
            font-size: 5rem;
            font-weight: bold;
            width: 450px;
        }

        p{
            color: rgb(179,166,175);
            font-size: 1.5rem;
            text-align: left;
            width: 450px;

            span{
                color: grey;
            }
        }
    }

    img{
        flex-basis: 50%;
    }
}
// End Second section



// Third Section
.third-section{
    background-color: rgb(0,36,156);
}
.speed-and-simplicity{
    margin: 0 auto;

    .banner{
        @include flexCenter;
        padding: 100px 0;
        width: 100%;

        h2{
            position: absolute;
            text-align: center;
            font-size: 3.5rem;
            margin-left: auto;
            color: rgb(18,163,235);
        }

        i{
            color: white;
            @include flexCenter;
            font-size: 5rem;
            transform: rotate(-10deg);
            margin-left: auto;
            justify-self: flex-end;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: rgb(18,163,235);
        }
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        column-gap: 20px;

        .item{
            // min-width: 300px;
            background-color: white;
            border-radius: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 30px;
            padding: 50px;

            .circle{
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: $primary-color;
            }

            h3{
                font-size: 1.8rem;
                text-align: center;
                color: rgb(18,163,235);
            }

            p{
                font-size: 1.5rem;
                color: rgb(179,166,175);
                text-align: center;
            }
        }
    }
}
// End Third Section




